@{
    Layout = "_Layout";
}
<div class='container' id="stylist-container" =>
    <h1>@Model["foundSpecialty"].name:</h1>
    <h3>Edit Stylists with @Model["foundSpecialty"].name as a Specialty:</h3>
    @foreach (var stylist in Model["allStylists"])
    {
        <div class="row data">
            <div class="col-md-8">
                <p class="name"><a href="/stylists/@stylist.GetId()">@stylist.GetName()</a></p>
            </div>
            <div class="col-md-2">
                <p><a class="btn btn-warning" href="/stylists/@stylist.GetId()/edit">Edit</a></p>
            </div>
            <div class="col-md-2">
                <form id="stylist" action="/stylists/@stylist.GetId()/delete" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>
            </div>
        </div>
    }
    </br>
    <h3>Add Stylists with a Specialty in @Model["foundSpecialty"].name:</h3>
    <form class="inline-block" action="/specialties/@Model["foundSpecialty"].id/edit-stylists" method="post">
        <div class="form-group">
            <label for="stylists">Choose one or more existing Stylists to associate with Specialty:</label>
            <select multiple class="form-control" name="stylists">
                @foreach (var stylist in Model["otherStylists"])
                {
                    <option value="@stylist.GetId()">@stylist.GetName()</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Specialty to Stylist(s)</button>
    </form>
    <br>
    </br>
    <form class="inline-block" action="/stylists/@Model["foundSpecialty"].id/delete" method="post"><button type="submit" class="btn btn-danger">Delete @Model["foundSpecialty"].name</button></form>

</div>